.categories {
    display: flex;
    flex-wrap: wrap;
    max-width: 1335px;
    margin: -80px auto 0;
    position: relative;
    z-index: 10;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.category {
    width: calc(50% - 25px);
    background: #019EDB url(../../images/decor.png) top left no-repeat;
    background-size: contain;
    border: 5px solid #FFFFFF;
    margin-bottom: 50px;
    padding: 34px 38px;
    height: 540px;
    position: relative;
    transition: all 0.4s ease;

    &__title {
        display: table;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    &__detail {
        font-weight: bold;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            background: url(../../images/arrow-right.svg) center no-repeat;
            width: 25px;
            height: 18px;
            left: calc(100% + 29px);
            transition: all 0.4s ease;
            top: 0;
            transform: translateX(0px);
        }

        &:hover {
            &:after {
                transform: translateX(14px);
            }
        }
    }

    &__image {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 100px;
        display: flex;
        align-items: flex-end;
        font-size: 0;

        img {
            max-width: 95%;
            max-height: 90%;
        }
    }

    .image-right {
        justify-content: flex-end;
        padding-bottom: 35px;
    }

    .image-center {
        justify-content: center;
    }

    &:hover {
        transform: translateY(-12px);
    }
}

@media (max-width: 1600px) {
    .categories {
        max-width: 1100px;
    }

    .category {
        height: 28vw;
    }
}

@media (max-width: 1400px) {
    .categories{
        margin-top: -30px;
    }
    .category {
        width: calc(50% - 15px);
        margin-bottom: 30px;
        &__title {
            font-size: 17px;
            margin-bottom: 15px;
        }

        &__detail {
            font-size: 12px;
            &:after{
                left: calc(100% + 19px);
                width: 21px;
                height: 14px;
                background-size: contain;
            }
        }
    }
}

@media (max-width: 1024px) {
    .categories{
        margin-top: 0;
        margin-bottom: 30px;
    }
    .category{
        border: 0;
        height: 34vw;
        &__image{
            img{
                max-height: 95%;
            }
        }
        &__title{
            font-size: 15px;
            margin-bottom: 10px;
        }
        .image-right{
            padding-bottom: 8px;
        }
    }
}

@media (max-width: 768px) {
    .category{
        padding: 28px 25px;
        height: 40vw;
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}
@media (max-width: 480px) {
    .category{
        width: 100%;
        height: 65vw;
    }
 
}