.toggle-menu {
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
    margin-left: 22px;
    position: relative;

    .bar {
        background: #fff;
        height: 1px;
        display: block;
        margin-left: auto;
        transition: all 0.4s ease;

        &-1 {
            width: 36px;
        }

        &-2 {
            width: 40px;
            margin: 7px 0 7px auto;
            position: relative;
            left: 0%;
        }

        &-3 {
            width: 32px;
        }
    }

    &.active {
        right: -5px;

        .bar {
            background: #fff;
            height: 1px;
            display: block;
            margin-left: auto;
            transition: all 0.4s ease;

            &-1 {
                transform: rotate(45deg) translateY(-50%);
                top: 50%;
                position: absolute;
            }

            &-2 {
                position: relative;
                left: -50%;
                opacity: 0;
                visibility: hidden;
            }

            &-3 {
                width: 36px;
                transform: rotate(-45deg) translateY(-50%);
                top: 50%;
                position: absolute;
            }
        }
    }

}

.lang {

    margin-right: 60px;
    position: relative;

    &-selected {
        font-weight: 500;
        font-size: 15px;
        line-height: 1;
        position: relative;
        color: #fff;
        padding-right: 17px;
        z-index: 10;
        cursor: pointer;
        text-transform: uppercase;

        &:after {
            content: "";
            position: absolute;
            right: 0px;
            background: url(../../images/arrow.svg) center no-repeat;
            width: 10px;
            height: 5px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-menu {
        position: absolute;
        width: 65px;
        padding: 20px 25px 0 10px;
        top: -4px;
        left: -10px;
        transition: all 0.4s ease;
        opacity: 0;
        visibility: hidden;
        margin: 0;
        list-style: none;

        li {
            margin-bottom: 7px;
        }

        a {
            font-size: 14px;
            line-height: 1.3;
            color: #efefef;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: #00ABED;
            }
        }
    }

    &:hover {
        .lang-menu {
            padding-top: 34px;
            opacity: 1;
            visibility: visible;
        }

    }
}

.site-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    padding: 22px 65px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        display: flex;
        align-items: center;
        width: calc(100% - 700px);
        justify-content: space-between;
    }

    &__options {
        display: flex;
        align-items: center;
    }
}

.wrapper-phone {
    position: relative;
    padding-left: 29px;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        background: url(../../images/phone.svg) center no-repeat;
        width: 15px;
        height: 23px;
    }

    .phone {
        font-weight: bold;
        font-size: 17px;
        line-height: 1;
        letter-spacing: 0.04em;
        text-decoration: none;
        display: table;
        color: #FFFFFF;
        margin-bottom: 8px;

        &:hover {
            color: #00ABED;
        }
    }

    .work-time {
        font-weight: 200;
        font-size: 14px;
        line-height: 1;
        color: #AFAFAF;
        padding: 0;
        margin: 0;
    }

    strong {
        font-weight: 600;
    }
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: calc(100% - 35%);

    &__item {
        &::marker {
            content: none
        }
    }

    &__link {
        font-weight: 600;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;

        &:hover,
        &.active {
            color: #00ABED;
        }
    }
}

.logo {
    text-decoration: none;

    &__image {
        max-width: 100%;
    }
}

.social {
    display: inline-flex;
    border: 1px solid #FFFFFF;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        &:not(:last-child) {
            border-right: 1px solid #FFFFFF;
        }
    }

    a {
        display: flex;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        fill: #fff;

        &:hover {
            fill: #00ABED;

        }

        &.fb {
            stroke: transparent !important;

            &:hover {
                stroke: transparent !important;

            }
        }
    }

}


@media (max-width: 1600px) {
    .site-header {
        padding: 20px 0;

        .navbar {
            width: calc(100% - 600px);
        }
    }
 
}

@media (max-width: 1400px) {
    .social {
        a {
            width: 38px;
            height: 38px;
        }
    }

    .wrapper-phone {
        .phone {
            font-size: 15px;
        }
    }

    .site-header {
        .navbar {
            width: calc(100% - 500px);
        }
    }
    .lang{
        margin-right: 45px;
    }
    .nav__link{
        font-size: 14px;
    }
}

@media (max-width: 1280px) {
    .logo{
        max-width: 130px;
    }
    .nav__link {
        font-size: 13px;
    }    
    .lang{
        margin-right: 30px;
    }
    .social a {
        width: 34px;
        height: 34px;
    }    
    .site-header{
        .navbar{
            width: calc(100% - 370px);
        }
    }
    .nav{
        width: calc(100% - 38%);
    }
}

@media ( max-width: 1024px ) {
    .site-header {
        padding: 0;
        .container{
            padding: 15px;
        }
        .navbar{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            max-width: 280px;
            background: #1b1b1b;
            height: 100vh;
            padding: 85px 15px 25px;
            overflow: auto;
            display: block;
            transition: all 0.4s ease;
            transform: translateX(-300px);
            visibility: hidden;
            opacity: 0;
            &.active{
                visibility: visible;
                opacity: 1;
                transform: translateX(0px);
            }
        }
        .logo{
            z-index: 100;
            position: relative;
        }
    }
    .nav{
        display: block;
        padding-bottom: 20px;
        width: 100%;
        &__item{
            margin-bottom: 15px;
        }
        &__link{
            font-size: 14px;
        }
    }
    .toggle-menu{
        display: block;
    }
}

@media ( max-width: 480px ) {
    .site-header{
        .social{
            display: none;
        }
        .navbar{
            max-width: 100%;
        }
    }
    .lang{
        margin-right: 10px;
    }
}