@font-face {
    font-family: 'SF UI Display';
    src: url('../../fonts/SFUIDisplay-Thin.eot');
    src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
        url('../../fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SFUIDisplay-Thin.woff2') format('woff2'),
        url('../../fonts/SFUIDisplay-Thin.woff') format('woff'),
        url('../../fonts/SFUIDisplay-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../../fonts/SFUIDisplay-Medium.eot');
    src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
        url('../../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
        url('../../fonts/SFUIDisplay-Medium.woff') format('woff'),
        url('../../fonts/SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Bold.eot');
    src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
        url('../../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SFUIDisplay-Bold.woff2') format('woff2'),
        url('../../fonts/SFUIDisplay-Bold.woff') format('woff'),
        url('../../fonts/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Semibold.eot');
    src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
        url('../../fonts/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SFUIDisplay-Semibold.woff2') format('woff2'),
        url('../../fonts/SFUIDisplay-Semibold.woff') format('woff'),
        url('../../fonts/SFUIDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Heavy.eot');
    src: local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
        url('../../fonts/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SFUIDisplay-Heavy.woff2') format('woff2'),
        url('../../fonts/SFUIDisplay-Heavy.woff') format('woff'),
        url('../../fonts/SFUIDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


* {
    font-family: 'SF UI Display';
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: normal;
}

:focus {
    outline: 0;
}


a,
.btn {
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
}

.container {
    position: relative;
    margin: auto;
    width: 100%;
    padding: 0 15px;
    max-width: 1770px;
}

.main {
    padding: 0 65px;
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        background: #1B1B1B;
        max-height: 1250px;
    }

    .container {
        padding-top: 195px;
        z-index: 10;
    }

    .arrow-next {
        position: absolute;
        left: -33px;
        top: calc(100vh - 50px);
        background: url(../../images/arrow-down.svg) center no-repeat;
        width: 18px;
        height: 25px;
        animation: arrow 2s infinite;
        animation-delay: 0.15s;
    }

    .btn-callback {
        background: rgba(0, 171, 237, 0.4);
        position: absolute;
        right: -20px;
        top: calc(100vh - 50px);
        width: 104px;
        height: 104px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        &:after {
            content: "";
            position: absolute;
            top: 7px;
            left: 7px;
            right: 7px;
            bottom: 7px;
            border-radius: 50%;
            background: #00ABED;
            z-index: 1;
        }

        .icon {
            position: relative;
            z-index: 5;
        }
    }

    &-logo {
        text-align: center;
        margin-bottom: 180px;
    }

    &-title {
        font-weight: 800;
        font-size: 76px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 1050px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: -120px;
        z-index: 10;
    }

    &-image {
        position: relative;
        background-size: cover;
        background-position: center;

        &:before {
            content: "";
            display: block;
            padding-top: 43.7%;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 40%;
            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        }
    }
}

@keyframes arrow {
    0% {
        opacity: 1;
        transform: translate(0, -12px);
    }

    70% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
        transform: translate(0, 12px);
    }
}


#ribbon {
    stroke-width: 1.5px !important;
}

.ribbon-path {
    transition: stroke-dashoffset 7s ease, fill 3s ease;
    fill: transparent;

    &.fill {
        fill: #fff;
    }
}

.delay-1 {
    animation-delay: 0.12s;
    -webkit-animation-delay: 0.12s;
}

.delay-2 {
    animation-delay: 0.24s;
    -webkit-animation-delay: 0.24s;
}

.delay-3 {
    animation-delay: 0.38s;
    -webkit-animation-delay: 0.38s;
}

.delay-4 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}


@media (max-width: 1600px) {
    .main-title {
        font-size: 62px;
        max-width: 900px;
    }
}

@media (max-width: 1400px) {
    .main {
        padding: 0 30px;

        .container {
            padding-top: 165px;
        }

        &-logo {
            max-width: 400px;
            margin: 0 auto 150px;

            svg {
                max-width: 100%;
                width: auto;
                height: auto;
            }
        }

        &-title {
            font-size: 52px;
            max-width: 700px;
            top: -90px;
        }

        .arrow-next {
            left: -17px;
        }

        &-image {
            &:before {
                padding-top: 50%;
            }
        }

        .btn-callback {
            width: 85px;
            height: 85px;

        }

    }
}

@media (max-width: 1024px) {
    .main {
        padding: 0;

        .arrow-next {
            display: none;
        }

        .btn-callback {
            position: fixed;
            bottom: 15px;
            right: 15px;
            top: auto;
            z-index: 50;
        }

        &-image {
            margin-bottom: 45px;
        }
    }

    .main-image:before {
        padding-top: 45%;
    }

    .main-title {
        font-size: 44px;
        max-width: 600px;
        top: -60px;
    }

    .main-logo {
        margin-bottom: 130px;
    }
}

@media (max-width: 768px) {
    .main-image {
        margin: 0 -15px 30px;
    }

    .main-image:before {
        padding-top: 53%;
    }

    .main-title {
        font-size: 32px;
        max-width: 600px;
        padding: 0 15px;
        top: -30px;
    }

    .main:after {
        height: 500px;
    }

    .main-logo {
        margin-bottom: 100px;
    }
}

@media (max-width: 480px) {
    .main {
        .container {
            padding-top: 145px;
        }
    }

    .main-image:after{
        height: 50%;
    }
    .main-logo {
        margin-bottom: 90px;
        max-width: 85%;
    }

    .main-title {
        font-size: 26px;
        top: -35px;
    }
    .main-image:before{
        padding-top: 60%;
    }
    .main:after{
        height: 400px;
    }
}
